<div class="container">

    <div class="site-content">
        <h1>О ВОСТОЧНОМ ЭКОНОМИЧЕСКОМ ФОРУМЕ</h1><p>
        Восточный экономический форум – 2019 состоялся 4–6 сентября 2019 г. во Владивостоке на территории кампуса Дальневосточного федерального университета (ДВФУ).
    </p>
        <p>
            Учрежден указом Президента Российской Федерации В.В. Путина от 19 мая 2015 г. в целях содействия развитию экономики Дальнего Востока и расширения международного сотрудничества в Азиатско-Тихоокеанском регионе.
        </p>

        <div class="messages__carousel-item row">
            <div class="messages__person col-12">
                <div class="col-auto">
                    <img class="messages__person-img" src="https://forumvostok.ru/upload/medialibrary/23a/23aaa2636b3bab1026cc6211e1ac3f36.jpg">
                    <br>
                </div>
                <div class="messages__column col-auto align-top" style="padding-top: 0; max-width: 75%">
                    <h3 class="messages__person-name" style="padding-top: 0">Юрий Петрович Трутнев</h3>
                    <div class="messages__person-pos">Заместитель председателя правительства —&nbsp;полномочный<br>представитель президента в дальневосточном федеральном округе</div>
                </div>
            </div>
            <div class="col-12">
                <br>
                <p class="messages__text">
                    «Уважаемые гости и участники V Восточного экономического форума!
                </p>
                <p>
                    В этом году Форум отмечает юбилейную дату – свое пятилетие. Это значит, мы должны подвести итог того, что произошло с 2015 года, когда во Владивостоке впервые собралась элита российского и международного бизнеса, руководители органов государственной власти, официальные лица иностранных государств, ученые, эксперты – все те, кто был готов сотрудничать с Россией, работать на Российском Дальнем Востоке, запускать новые производства и развивать уже существующие, создавать рабочие места, строить дороги, дома и больницы, делать так, чтобы качественно изменялась жизнь наших восточных территорий.
                </p>
                <p>
                    Тогда, 5 лет назад, были поставлены цели, казавшиеся невыполнимыми. Мы говорили об ожиданиях и перспективах развития, о формировании новых экономических режимов и улучшении инвестиционного климата, создании новых законов и изменении нормативно-правовой базы, об улучшении социальной инфраструктуры и развитии регионов – о том, что называется словом «будущее». Кто-то был полон надежд, кто-то скептически относился к намеченным планам. Но важно было одно – готовность действовать вместе. И сейчас это будущее стало настоящим.
                </p>
                <p>
                    По поручению Президента России В.В. Путина, обозначившего развитие Дальнего Востока национальным приоритетом на весь XXI век, в регионе создается новая экономика. Крупным компаниям, малому и среднему бизнесу предоставляются налоговые льготы и административные преференции, выдаются льготные кредиты, обеспечивается поддержка государственных институтов развития.
                </p>
                <p>
                    За прошедшие 5 лет для Дальнего Востока принято более 40 законов, направленных на стимулирование инвестиционной активности и улучшение социальной сферы. Создано 20 территорий опережающего развития, 5 свободных портов. Благодаря этому началась реализация свыше 1780 инвестиционных проектов на 3,8 трлн рублей, создано более 230 новых предприятий. Государство осуществляет адресную инфраструктурную и финансовую поддержку инвесторов. Более 70 тысяч людей бесплатно получили землю и строят на своем «дальневосточном гектаре» жилые дома, и создают фермерские хозяйства.
                </p>
                <p>
                    В инвестиционном пространстве Дальнего Востока действуют 17 стран мира – Китай, Япония, Республика Корея, Австралия, Новая Зеландия, Вьетнам и другие. Порядка 32% прямых иностранных инвестиций, поступивших в Россию с 2014 года, пришли в дальневосточные регионы.
                </p>
                <p>
                    Расширилась территория Дальнего Востока. В состав Дальневосточного федерального округа вошли Забайкальский край и Республика Бурятия. А к ответственности профильного министерства – Минвостокразвития России – и институтам развития добавилась функция по развитию еще одного макрорегиона – Арктической зоны РФ.
                </p>
                <p>
                    Если говорить о социальной сфере, то в качестве дополнительного стимула к уже существующим мерам введен механизм «единой субсидии». Средства на строительство школ и детских садов, больниц и фельдшерско-акушерских пунктов, центров культуры и спортивных объектов получают 57 центров экономического роста. В этих центрах живет более 80% дальневосточников.
                </p>
                <p>
                    Сделано немало. Экономической рост в ДФО больше 4%, это в два раза выше среднероссийских показателей. Но сейчас перед нами стоит еще одна задача – обеспечить темпы экономического роста Дальнего Востока до 6% в год. А еще нужно понять, как сделать так, чтобы качество жизни на Дальнем Востоке и в Арктике поднялось до уровня выше среднероссийского. Эти задачи перед нами поставил Президент Российской Федерации Владимир Владимирович Путин.
                </p>
                <p>
                    Наша цель – сделать Дальний Восток ближе для инвесторов и комфортнее для тех, кто здесь живет, дать людям уверенность в том, что их мечты могут быть реализованы в ближайшей перспективе.
                </p>
                <p>
                    Многие темы, которые поднимались на предыдущих Форумах, стали основой для разработки и принятия законов, внедрения новых мер поддержки бизнеса, улучшения социального самочувствия дальневосточников. Уверен, что в этом году Форум станет новым шагом в открытом диалоге между бизнесом и властью, экспертами и учеными, социологами и демографами.
                </p>
                <p>
                    Хочу пожелать участникам и гостям Форума удачи и успехов. Дальний Восток открыт для сотрудничества: нам важен и ценен каждый партнер, каждое мнение и инициатива, помогающие развивать нашу страну!&nbsp;
                </p>
                <p>
                    Заместитель Председателя Правительства Российской Федерации – полномочный представитель Президента Российской Федерации в Дальневосточном федеральном округе
                </p>
                <p>
                    Юрий Трутнев».
                </p>
            </div>
        </div>
    </div>
    <h2>ВЭФ-2018 В ЦИФРАХ</h2>
    <p>
        <img src="https://forumvostok.ru/upload/medialibrary/1b4/1b4095c954848e59d5a939f938394572.png">
    </p>
    <p>
        * Указаны соглашения, сумма которых не является коммерческой тайной.
    </p>
    <p align="center">
        <a href="https://forumvostok.ru/outcomes-of-the-eef-2018/" target="_blank" class="btn btn-bg">Итоги ВЭФ-2018</a>
    </p>
    <h2>
        ПРОГРАММА </h2>
    <p>
        Мероприятия Форума традиционно проходят в формате панельных сессий, круглых столов, теледебатов, деловых завтраков и бизнес-диалогов, посвященных отношениям России с различными странами мира. В деловую программу Форума входят бизнес диалоги с ведущими странами – партнерами в Азиатско-Тихоокеанском регионе, а также с АСЕАН – ключевой интеграционной группировкой активно развивающихся стран Юго-Восточной Азии.
    </p>
    <!--<p>
         В 2018 г. ключевым событием Форума стало пленарное заседание «Дальний Восток: расширяя границы возможностей» с участием Президента Российской Федерации Владимира Путина, Председателя КНР Си Цзиньпина, Президента Монголии Халтмаагийна Баттулги, Премьер-министра Японии Синдзо Абэ и Премьер-министра Республики Корея Ли Нак Ёна.
    </p>-->
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/b51/b51e7bc375b192545e98f88d3751bb45.jpg"><br>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/eed/eedd1e4727de4988930b506614cc5a8d.jpg"><br>
            </p>
        </div>
    </div>
    <h2>
        ВЫСТАВКИ В РАМКАХ ВЭФ </h2>
    <p>
        В 2019 г. на площадке Форума будут представлены:
    </p>
    <ul>
        <li>
            <p>
                <b>Выставочная экспозиция Министерства Российской Федерации по развитию Дальнего Востока и Арктики.</b> Выставка представила механизмы входа на территорию ДФО (ТОРы, свободный порт), возможности для инвестирования, деятельность и задачи институтов развития, а также реализуемые и перспективные инвестиционные проекты.
            </p>
        </li>
        <li>
            <p>
                <b>Отраслевая выставка «Добро пожаловать на Дальний Восток».</b> В рамках выставки федеральные органы исполнительной власти Российской Федерации представили инвестиционные возможности, преференции и мегапроекты макрорегиона ДФО в сфере международного сотрудничества.
            </p>
        </li>
        <li>
            <p>
                <b>Деловые зоны партнеров ВЭФ-2019.</b>
            </p>
        </li>
        <li>
            <p>
                <b>Фотовыставки экспонентов ВЭФ-2019.</b>
            </p>
        </li>
        <li>
            <p>
                <b>Выставка «Улица Дальнего Востока».</b> Традиционно в выставке «Улица Дальнего Востока» принимают участие субъекты Дальневосточного федерального округа, федеральные органы исполнительной власти. Для посетителей выставки проводятся ежедневные концертные программы и кинопоказы. В рамках выставки работает фуд-корт «Рыбный рынок», где посетители могут попробовать дальневосточные деликатесы.
            </p>
        </li>
    </ul>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/d4b/d4b0ddbf33c9d408a155531f8d2226d5.jpg">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/00e/00e64c4b083cc50fa2ad4c375b128fff.jpg">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/e0c/e0c8cab2d84a8911d20683ae794bde05.jpg">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/c05/c05c3edde86bb7508d90b959b050f44a.jpg">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/2ff/2ff3c71c1770bba441e6ced391de452d.jpg">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img width="1024" src="https://forumvostok.ru/upload/medialibrary/01b/01ba886c97b45bb78418bffc36d88d90.jpg">
            </p>
        </div>
    </div>
    <br>
    <h2>
        ПРЕДСТАВЛЕННЫЕ ОТРАСЛИ </h2>
    <p>
        <img src="https://forumvostok.ru/upload/medialibrary/c11/c11114d90f102ba9b8ca756bc7705b64.png">
    </p>
    <!--
   <h2>
   ГЕОГРАФИЯ ФОРУМА </h2>
   <p>
        Участники ВЭФ-2019: 40 стран и территорий
   </p>
    -->
    <h2>
        ТЕМАТИЧЕСКИЕ ЗОНЫ НА ПЛОЩАДКЕ </h2>
    <p>
        Тематические зоны – пространства на площадке Форума, специально оборудованные для делового общения участников, проведения мероприятий, встреч и презентаций. Каждая тематическая зона имеет уникальный облик и стиль оформления.
    </p>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p>
                <img src="https://forumvostok.ru/upload/medialibrary/589/58995501e3846fc6e09888ce5a57defa.png">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img src="https://forumvostok.ru/upload/medialibrary/79c/79c08f8cfecc925b642d96cee68b8737.png">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img src="https://forumvostok.ru/upload/medialibrary/f38/f38b29b0a702007a5f26e97bf887b6e7.png">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                <img src="https://forumvostok.ru/upload/medialibrary/d0f/d0fe94a6dc4652f33a2a220d4e9cdc97.png">
            </p>
        </div>
    </div>
    <br>
    <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HI_cpEz58as" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
    <br>
    <h2>КОНТАКТЫ</h2>
    <p>
        Фонд Росконгресс
    </p>
    <p>
        <i class="icon icon-pin"></i>&nbsp;Россия, 123610, Москва, Краснопресненская наб., д. 12<br>
        <i class="icon icon-phone"></i>&nbsp;+7 (499) 7000 111<br>
        <i class="icon icon-mail"></i>&nbsp;<a href="mailto:info@forumvostok.ru">info@forumvostok.ru</a><br>
        <i class="icon icon-site"></i>&nbsp;<a href="http://www.forumvostok.ru" target="_blank">www.forumvostok.ru</a>
    </p><style type="text/css">
    p img{max-width: 100%}
</style>	</div>
